In [ ]:
import pandas as pd
import sqlite3

In [8]:
conn = sqlite3.connect("movies.sqlite")
cur= conn.cursor()

In [10]:
query = "SELECT name FROM sqlite_master WHERE type='table'"
cur.execute(query)
cur.fetchall()

[]

In [ ]:
query = "SELECT name FROM sqlite_master WHERE type='table'"
pd.read_sql(query, conn)

In [ ]:
query = "SELECT * FROM directors LIMIT 100;"
pd.read_sql(query, conn)

In [ ]:
query = "PRAGMA table_info(movies)"
pd.read_sql(query, conn)

In [ ]:
count_movies = pd.read_sql("SELECT COUNT(*) AS total_number FROM movies;", conn)
count_movies

In [ ]:
count_movies = pd.read_sql("SELECT * FROM movies WHERE budget > 200000000;", conn)
count_movies.head()

In [ ]:
count_movies = pd.read_sql("SELECT * FROM movies WHERE budget > 200000000;", conn)
count_movies.head()

In [ ]:
query = "SELECT id, popularity FROM movies WHERE popularity IS NOT NULL;"
pop_id = pd.read_sql(query, conn)
pop_id

In [ ]:
query = "SELECT COUNT(popularity), popularity FROM movies GROUP BY popularity "
popularity= pd.read_sql(query, conn)
popularity

In [ ]:
query = "SELECT COUNT(popularity) as popularity_count, popularity FROM movies GROUP BY popularity"
popularity = pd.read_sql(query, conn)
popularity

In [ ]:
query = "SELECT AVG(popularity) AS avg_popularity, id FROM movies GROUP BY id"
pop_id = pd.read_sql(query, conn)
pop_id

In [ ]:
query = "SELECT release_date, COUNT(release_date)   FROM movies GROUP BY release_date"
release_date = pd.read_sql(query, conn)
release_date

In [ ]:
query = "SELECT revenue FROM movies WHERE revenue BETWEEN 10000 AND 300000;"
output = pd.read_sql(query, conn)
output

In [ ]:
query = "SELECT AVG(budget) from movies;"
output = pd.read_sql(query, conn)
output

In [ ]:
query = "SELECT budget FROM movies WHERE  budget < (SELECT AVG(revenue) from movies)"
output = pd.read_sql(query, conn)
output.head()

In [ ]:
query = "SELECT * FROM movies LIMIT 3"
output = pd.read_sql(query, conn)
output.head()

In [ ]:
query = "SELECT * FROM directors LIMIT 10"
output = pd.read_sql(query, conn)
output.head()

In [ ]:
query = "SELECT SUM(budget) FROM movies"
output = pd.read_sql(query, conn)
output.head()

In [ ]:
query = """
SELECT *
FROM directors
JOIN movies ON directors.id = movies.director_id
WHERE gender = '2' OR gender = '1';
"""
output = pd.read_sql(query, conn)
output.head()

In [ ]:
query = """
SELECT directors.name AS director_name,
       directors.department AS director_department,
       movies.original_title AS movie_title,
       movies.release_date AS release_date,
       movies.budget AS movie_budget
FROM directors
JOIN movies ON directors.id = movies.director_id;
"""
output = pd.read_sql(query, conn)
output.head()

In [ ]:
query = """
SELECT directors.name AS director_name,
       movies.original_title AS movie_title,
       movies.popularity AS movie_popularity
FROM directors
JOIN movies ON directors.id = movies.director_id
WHERE movies.popularity > 50;
"""
output = pd.read_sql(query, conn)
output.head()

In [ ]:
query = """
SELECT directors.name AS director_name,
       AVG(movies.budget) AS average_budget
FROM directors
JOIN movies ON directors.id = movies.director_id
GROUP BY directors.name;
"""
output = pd.read_sql(query, conn)
output.head()

In [ ]:
query = """
SELECT directors.name AS director_name,
       movies.original_title AS movie_title,
       movies.revenue AS movie_revenue
FROM directors
JOIN movies ON directors.id = movies.director_id
WHERE movies.revenue > 100000;
"""
output = pd.read_sql(query, conn)
output.head()

In [ ]:
query = """
SELECT directors.name AS director_name,
       directors.gender AS director_gender,
       movies.original_title AS movie_title,
       movies.release_date AS release_date
FROM directors
JOIN movies ON directors.id = movies.director_id;
"""
output = pd.read_sql(query, conn)
output.head()

In [ ]:
query = """
SELECT directors.name AS director_name,
       SUM(movies.revenue) AS total_revenue
FROM directors
JOIN movies ON directors.id = movies.director_id
GROUP BY directors.name;
"""
output = pd.read_sql(query, conn)
output.head()